body {
  background-color: #FFCCAA;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.home-page {
  display: flex;
  margin: 40px;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  min-height: 100vh;
  background-color: #FFCCAA;
}

.profile-pic {
  width: 500px;
  height: auto;
  border-radius: 50%; /* makes the image rounded */
}

.buttons {
  margin-top: 20px; /* adds some space between the image and buttons */
}

.resume-button,
.projects-button {
  font-size: 18px;
  padding: 15px 30px;
  margin: 15px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #a5c0f3;
  color: rgb(14, 2, 2);
  transition: background-color 0.2s ease;
  font-family: 'Courier New', Courier, monospace;
}

.resume-button:hover,
.projects-button:hover {
  background-color: #0056b3;
}

.hidden {
  visibility: hidden;
}

p {
  color: rgb(11, 2, 4);
  font-family: "Courier";
  font-size: 18px;
}

